<template name="footer">    
    <div class="site-center">
        <div class="site-footer backgrounds-transparent">
            <div class="cell">
                <div class="col width-fit mobile-width-fit">
					<ul class="nav capitalize color-dust">
						{{#each languages}}
						<li class="{{activeLanguageClass this}}">
							<a href="{{pathToLanguage this}}" class="animated"><i class="fa {{activeFlagClass this}} fa-lg"></i> {{i18n this}}</a>
						</li>
						{{/each}}
						{{#if currentUser}}
						<li>
							<a href="{{pathFor 'i18n_easy_admin'}}" class="animated"><i class="fa fa-edit fa-lg"></i> {{i18n 'translationAdmin'}}</a>
						</li>
						{{/if}}
					</ul>
                </div>
                <div class="col width-fill mobile-width-fill">
                    <div id="signature" class="pull-right color-sky">
                        <div class="socialicons">
                            <a class="text-center animated" target="_blank" href="http://flickr.com/juice-gallery"><i class="fa fa-flickr fa-3x"></i></a>
                            <a class="text-center animated" target="_blank" href="https://www.facebook.com/jude.son.90"><i class="fa fa-facebook-square fa-3x"></i></a>
                            <a class="text-center animated" target="_blank" href="https://github.com/janouma"><i class="fa fa-github fa-3x"></i></a>
                        </div>
                        <div class="col">
                            © 2013, <a target="_blank" href="https://github.com/janouma">Judicaël Anouma</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>