<template name="footer">    
    <div class="site-center">
        <div class="site-footer">
            <div class="cell">
                <div class="col width-fit mobile-width-fit">
                    <div class="pipes">
                        <ul class="nav">
                            <li id="active"><a href="#">Item one</a></li>
                            <li><a href="#">Item two</a></li>
                            <li><a href="#">Item three</a></li>
                            <li><a href="#">Item four</a></li>
                            <li><a href="#">Item five</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col width-fill mobile-width-fill">
                    <div id="signature" class="pull-right">
                        <div class="socialicons"><a class="text-center" target="_blank" href="http://flickr.com/juice-gallery"><i class="fa fa-flickr fa-3x"></i></a><a class="text-center" target="_blank" href="https://www.facebook.com/jude.son.90"><i class="fa fa-facebook-square fa-3x"></i></a><a class="text-center" target="_blank" href="https://github.com/janouma"><i class="fa fa-github fa-3x"></i></a></div>
                        <div class="col">
                            © 2013, <a href="https://github.com/janouma">Judicaël Anouma</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>