<template name="nav">
    <div class="col width-fit mobile-width-fit">
        <div class="cell">
            <h2><a href="/" class="no-text-decoration"><i class="fa fa-leaf color-emerald"></i> <span class="color-jade">Money</span><span class="color-emerald">Flow</span></a></h2>
        </div>
    </div>
    <div class="col width-fill mobile-width-fill">
        <div class="cell capitalize">
			{{#if currentUser}}
            <ul class="col width-fit mobile-width-fit nav color-sky primary-nav mbm">
				{{#if configIsReady}}
					{{#if clientsAreReady}}
					<li class="{{activeRouteClass 'invoices'}}"><a class="animated" href="{{pathFor 'invoices'}}"><i class="fa fa-file-text"></i> {{i18n 'invoices'}}</a></li>
					<li class="{{activeRouteClass 'orders'}}"><a class="animated" href="{{pathFor 'orders'}}"><i class="fa fa-barcode"></i> {{i18n 'orders'}}</a></li>
					{{/if}}
                <li class="{{activeRouteClass 'clients'}}"><a class="animated" href="{{pathFor 'clients'}}"><i class="fa fa-group"></i> {{i18n 'clients'}}</a></li>
				{{/if}}
                <li class="{{activeRouteClass 'settings'}}"><a class="animated" href="{{pathFor 'settings'}}"><i class="fa fa-wrench"></i> {{i18n 'settings'}}</a></li>
            </ul>
			{{/if}}
            <div class="col width-fill mobile-width-fill side-nav">
				<div class="nav color-dust login-wrapper pull-right closed animated">
					{{#unless ghostSuffix}}
						{{loginButtons align="right"}}
					{{/unless}}
				</div>
                <ul class="nav color-dust pull-right">
                    <li><a class="animated" href="https://github.com/janouma/MoneyFlow/releases" target="_blank"><i class="fa fa-download"></i> {{i18n 'download'}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</template>