<template name="settings">
    <div class="col content">
        <div class="col">
            <div class="cell">
				<div class="template-header brbs col width-1of2">
					<h2 class="capitalize color-lead"><i class="fa fa-info-circle"></i> {{i18n 'companyInfo'}}</h2>
				</div>
				<form>
					<div class="col">
						<div class="col width-1of5">
							<div class="cell form-cell theme-lightsilver mln">
								<label class="capitalize color-lightlead engraved phm stretch fatty" for="company"><i class="fa fa-user"></i> {{i18n 'company'}}</label>
							</div>
						</div>
						<div class="col width-3of10">
							<div class="cell form-cell brbs">
								<input type="text" id="company" value="{{settings.company}}" data-initial-value="{{settings.company}}" placeholder="{{i18n 'company'}}" class="text capitalize stretch spaced-letters pls" required>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="col width-1of5">
							<div class="cell form-cell theme-lightsilver mln">
								<label class="capitalize color-lightlead engraved phm stretch fatty" for="companyid"><i class="fa fa-legal"></i> {{i18n 'companyid'}}</label>
							</div>
						</div>
						<div class="col width-3of10">
							<div class="cell form-cell brbs">
								<input type="text" id="companyid" value="{{settings.companyid}}" data-initial-value="{{settings.companyid}}" placeholder="{{i18n 'companyid'}}" class="text uppercase stretch spaced-letters pls" required pattern="^[a-zA-Z0-9]+$">
							</div>
						</div>
					</div>

					<div class="col">
						<div class="col width-1of5">
							<div class="cell form-cell theme-lightsilver mln">
								<label class="capitalize color-lightlead engraved phm stretch fatty" for="email"><i class="fa fa-envelope"></i> {{i18n 'email'}}</label>
							</div>
						</div>
						<div class="col width-3of10">
							<div class="cell form-cell brbs">
								<input type="email" id="email" value="{{settings.email}}" data-initial-value="{{settings.email}}" placeholder="{{userEmail}}" class="text stretch spaced-letters pls">
							</div>
						</div>
					</div>

					<div class="col">
						<div class="col width-1of5">
							<div class="cell form-cell theme-lightsilver mln">
								<label class="capitalize color-lightlead engraved textarea-valign phm stretch fatty" for="address"><i class="fa fa-home"></i> {{i18n 'address'}}</label>
							</div>
						</div>
						<div class="col width-3of10">
							<div class="cell form-cell brbs">
								<textarea id="address" class="capitalize textarea-valign stretch spaced-letters pls" placeholder="{{i18n 'address'}}" rows="3" data-initial-value="{{settings.address}}">{{settings.address}}</textarea>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="col width-1of5">
							<div class="cell form-cell theme-lightsilver mln">
								<label class="capitalize color-lightlead engraved phm stretch fatty" for="taxerate"><i class="fa fa-percent"></i> {{i18n 'taxerate'}}</label>
							</div>
						</div>
						<div class="col width-3of10">
							<div class="cell form-cell brbs">
								<input type="text" id="taxerate" value="{{settings.taxerate}}" data-initial-value="{{settings.taxerate}}" placeholder="{{i18n 'taxerate'}} ({{defaultTaxerate}}%)" class="text stretch spaced-letters pls" pattern="^\d+(,|\.)?\d+$">
							</div>
						</div>
					</div>
				</form>
            </div>
        </div>
    </div>
</template>
