<template name="settings">
    <div class="col content">
        <div class="col">
            <div class="cell">
				<form>
					<div class="col">
						<div class="col width-1of5">
							<div class="cell form-cell theme-silver">
								<label class="capitalize color-white phm stretch fatty" for="company"><i class="fa fa-tag"></i> {{i18n 'company'}}</label>
							</div>
						</div>
						<div class="col width-3of10">
							<div class="cell form-cell brbs">
								<input type="text" id="company" placeholder="{{i18n 'company'}}" class="text capitalize stretch spaced-letters bran pls" required>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="col width-1of5">
							<div class="cell form-cell theme-silver">
								<label class="capitalize color-white phm stretch fatty" for="companyid"><i class="fa fa-legal"></i> {{i18n 'companyid'}}</label>
							</div>
						</div>
						<div class="col width-3of10">
							<div class="cell form-cell brbs">
								<input type="text" id="companyid" placeholder="{{i18n 'companyid'}}" class="text uppercase stretch spaced-letters bran pls" required pattern="(\w|\d)+">
							</div>
						</div>
					</div>

					<div class="col">
						<div class="col width-1of5">
							<div class="cell form-cell theme-silver">
								<label class="capitalize color-white phm stretch fatty" for="email"><i class="fa fa-envelope"></i> {{i18n 'email'}}</label>
							</div>
						</div>
						<div class="col width-3of10">
							<div class="cell form-cell brbs">
								<input type="email" id="email" placeholder="{{userEmail}}" class="text stretch spaced-letters bran pls">
							</div>
						</div>
					</div>

					<div class="col">
						<div class="col width-1of5">
							<div class="cell form-cell theme-silver">
								<label class="capitalize color-white textarea-valign phm stretch fatty" for="address"><i class="fa fa-home"></i> {{i18n 'address'}}</label>
							</div>
						</div>
						<div class="col width-3of10">
							<div class="cell form-cell brbs">
								<textarea id="address" name="singular" class="capitalize textarea-valign stretch spaced-letters bran pls" placeholder="{{i18n 'address'}}" rows="3"></textarea>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="col width-1of5">
							<div class="cell form-cell theme-silver">
								<label class="capitalize color-white phm stretch fatty" for="taxerate"><i class="fa fa-percent"></i> {{i18n 'taxerate'}}</label>
							</div>
						</div>
						<div class="col width-3of10">
							<div class="cell form-cell brbs">
								<input type="text" id="taxerate" placeholder="{{i18n 'taxerate'}} ({{taxerate}}%)" class="text stretch spaced-letters bran pls" pattern="\d+(,|\.)?\d+">
							</div>
						</div>
					</div>

					<div class="col">
						<div class="col width-1of5">
							<div class="cell form-cell theme-silver">
								<label class="capitalize color-white phm stretch fatty" for="taxeid"><i class="fa fa-legal"></i> {{i18n 'taxeid'}}</label>
							</div>
						</div>
						<div class="col width-3of10">
							<div class="cell form-cell brbs">
								<input type="text" id="taxeid" placeholder="{{i18n 'taxeid'}}" class="text uppercase stretch spaced-letters bran pls" pattern="(\w|\d)+">
							</div>
						</div>
					</div>

					<div class="col mtl">
						<div class="col width-fill">
							<div class="cell">
								<button id="save" class="button icon-button active-button capitalize color-white phm no-radius animated" disabled="yes"><i class="fa fa-check"></i> <strong>{{i18n 'save'}}</strong></button>
							</div>
						</div>
					</div>
				</form>
            </div>
        </div>
    </div>
</template>
