@import _color-mixins

$darkblue: #000055
$emerald: #228055
$jade: #88bb00
$ash: #505050
$silver: #dadada
$flour: #f7f7f9
$lead: #707070
$sky: #5586e8
$lightsky: lighten($sky, 5%)
$milk: #fefefe
$lightsilver: darken($flour, 7%)
$darkorange: darken(orange, 5%)
$electricred: lighten(red,25%)
$error-theme-color: lighten(red,40%)
$error-text-color: lighten(red,25%)

.background-transparent
	background-color: transparent

.backgrounds-transparent
	&,div,span
		background-color: transparent

.gradient-nightfall
	+background-image(linear-gradient(rgba(darken($darkblue, 5%), 0.95) 10%, rgba($darkblue, 0.85) 65%, rgba($darkblue, 0.75)))

.gradient-fog
	+background-image(linear-gradient(rgba(darken($flour, 2%), 0.95) 10%, rgba($milk, 0.85) 65%, rgba($milk, 0.5)))

+color('sky', $lightsky, steelblue, darken(steelblue, 10%))
+color('jade', $jade)
+color('emerald', $emerald, lighten($emerald, 7%), $jade)
+color('black', #555, #ccc, black)
+color('red', #ff6000)
+color('ash', $ash)
+color('dust', darken($silver, 10%), $lead, $lead)
+color('lead', $lead)
+color('lightlead', lighten($lead, 15%))
+color('lightsilver', $lightsilver, darken($lightsilver, 5%), darken($lightsilver, 10%))

+color('error', $error-text-color)

+theme('sky', $lightsky, steelblue, darken(steelblue, 10%))
+theme('silver', $silver, darken($silver, 5%), darken($silver, 10%))
+theme('lightsilver', $lightsilver, darken($lightsilver, 5%), darken($lightsilver, 10%))
+theme('snow', white)
+theme('jade', $jade)
+theme('orange', $darkorange)
+theme('tide', white, lighten($sky, 35%), $flour)

+theme('error', $error-theme-color)

+border('sky', $lightsky)

