/* line-height helpers
 * lh = line-height
 * s,m,l,x,n = small(1.3),medium(1.5),large(2),xl(2.5),normal(1) */

.lhn
	line-height: 1 !important

.lhs
	line-height: 1.3 !important

.lhm
	line-height: 1.5 !important

.lhl
	line-height: 2 !important

.lhx
	line-height: 2.5 !important