.background-transparent {
  background-color: transparent; }

.gradient-nightfall {
  background-image: -webkit-linear-gradient( rgba(0, 0, 34, 0.95) 10%, rgba(0, 0, 85, 0.85) 65%, rgba(0, 0, 85, 0.75));
  background-image: linear-gradient( rgba(0, 0, 34, 0.95) 10%, rgba(0, 0, 85, 0.85) 65%, rgba(0, 0, 85, 0.75)); }

.color-sky, .color-sky a {
  color: dodgerblue !important; }
.color-sky.input[type=submit]:hover, .color-sky.button:hover, .color-sky a:hover, .color-sky .button-like:hover {
  color: #0483ff !important; }
.color-sky .active, .color-sky .active a, .color-sky.active, .color-sky.active a {
  color: #0077ea !important; }

.color-blue, .color-blue a {
  color: #38678f !important; }
.color-blue.input[type=submit]:hover, .color-blue.button:hover, .color-blue a:hover, .color-blue .button-like:hover {
  color: steelblue !important; }
.color-blue .active, .color-blue .active a, .color-blue.active, .color-blue.active a {
  color: #389dff !important; }

.color-jade, .color-jade a {
  color: #88bb00 !important; }
.color-jade.input[type=submit]:hover, .color-jade.button:hover, .color-jade a:hover, .color-jade .button-like:hover {
  color: #88bb00 !important; }
.color-jade .active, .color-jade .active a, .color-jade.active, .color-jade.active a {
  color: #88bb00 !important; }

.color-emerald, .color-emerald a {
  color: #228055 !important; }
.color-emerald.input[type=submit]:hover, .color-emerald.button:hover, .color-emerald a:hover, .color-emerald .button-like:hover {
  color: #299c68 !important; }
.color-emerald .active, .color-emerald .active a, .color-emerald.active, .color-emerald.active a {
  color: #88bb00 !important; }

.color-black, .color-black a {
  color: #555555 !important; }
.color-black.input[type=submit]:hover, .color-black.button:hover, .color-black a:hover, .color-black .button-like:hover {
  color: #cccccc !important; }
.color-black .active, .color-black .active a, .color-black.active, .color-black.active a {
  color: black !important; }

.color-red, .color-red a {
  color: #ff6000 !important; }
.color-red.input[type=submit]:hover, .color-red.button:hover, .color-red a:hover, .color-red .button-like:hover {
  color: #ff6000 !important; }
.color-red .active, .color-red .active a, .color-red.active, .color-red.active a {
  color: #ff6000 !important; }

.color-ash, .color-ash a {
  color: #505050 !important; }
.color-ash.input[type=submit]:hover, .color-ash.button:hover, .color-ash a:hover, .color-ash .button-like:hover {
  color: #505050 !important; }
.color-ash .active, .color-ash .active a, .color-ash.active, .color-ash.active a {
  color: #505050 !important; }

.theme-sky {
  background-color: dodgerblue !important;
  border-color: #0483ff !important; }
  .theme-sky:active {
    background-color: #0077ea !important;
    border-color: #006ad1 !important; }

input[type=submit].theme-sky:hover,
a.theme-sky:hover,
.button.theme-sky:hover,
.button-like.theme-sky:hover {
  background-color: #0483ff !important;
  border-color: #0077ea !important; }

.theme-silver {
  background-color: #dadada !important;
  border-color: #cdcdcd !important; }
  .theme-silver:active {
    background-color: #c1c1c1 !important;
    border-color: #b4b4b4 !important; }

input[type=submit].theme-silver:hover,
a.theme-silver:hover,
.button.theme-silver:hover,
.button-like.theme-silver:hover {
  background-color: #cdcdcd !important;
  border-color: #c1c1c1 !important; }

.fa.fa-10x {
  font-size: 10em; }
.fa.fa-percent::before {
  content: "%";
  display: inline-block;
  font-family: "Arial Black";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none; }

/* border helpers
 * br = border
 * a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
 * s,m,l,n = small(1px),medium(2px),large(5px),none(0px) */
.brts, .brvs, .bras, .brtm, .brvm, .bram, .brtl, .brvl, .bral, .brrs, .brhs, .brrm, .brhm, .brrl, .brhl, .brbs, .brbm, .brbl, .brls, .brlm, .brll {
  border-style: solid;
  border-color: inherit;
  border-width: 0; }

.brtn, .brvn, .bran {
  border-top: none; }

.brts, .brvs, .bras {
  border-top-width: 1px; }

.brtm, .brvm, .bram {
  border-top-width: 2px; }

.brtl, .brvl, .bral {
  border-top-width: 5px; }

.brrn, .brhn, .bran {
  border-right: none; }

.brrs, .brhs, .bras {
  border-right-width: 1px; }

.brrm, .brhm, .bram {
  border-right-width: 2px; }

.brrl, .brhl, .bral {
  border-right-width: 5px; }

.brbn, .brvn, .bran {
  border-bottom: none; }

.brbs, .brvs, .bras {
  border-bottom-width: 1px; }

.brbm, .brvm, .bram {
  border-bottom-width: 2px; }

.brbl, .brvl, .bral {
  border-bottom-width: 5px; }

.brln, .brhn, .bran {
  border-left: none; }

.brls, .brhs, .bras {
  border-left-width: 1px; }

.brlm, .brhm, .bram {
  border-left-width: 2px; }

.brll, .brhl, .bral {
  border-left-width: 5px; }

.bdtn, .bdvn, .bdan {
  border-top-style: inherit; }

.bdt, .bdv, .bda {
  border-top-style: dashed; }

.bdrn, .bdhn, .bdan {
  border-right-style: inherit; }

.bdr, .bdh, .bda {
  border-right-style: dashed; }

.bdbn, .bdvn, .bdan {
  border-bottom-style: inherit; }

.bdb, .bdv, .bda {
  border-bottom-style: dashed; }

.bdln, .bdhn, .bdan {
  border-left-style: inherit; }

.bdl, .bdh, .bda {
  border-left-style: dashed; }

/* spacing helpers
 * p,m = padding,margin
 * a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
 * s,m,l,n = small(5px),medium(10px),large(20px),none(0px) */
.ptn, .pvn, .pan {
  padding-top: 0px !important; }

.pts, .pvs, .pas {
  padding-top: 5px !important; }

.ptm, .pvm, .pam {
  padding-top: 10px !important; }

.ptl, .pvl, .pal {
  padding-top: 20px !important; }

.prn, .phn, .pan {
  padding-right: 0px !important; }

.prs, .phs, .pas {
  padding-right: 5px !important; }

.prm, .phm, .pam {
  padding-right: 10px !important; }

.prl, .phl, .pal {
  padding-right: 20px !important; }

.pbn, .pvn, .pan {
  padding-bottom: 0px !important; }

.pbs, .pvs, .pas {
  padding-bottom: 5px !important; }

.pbm, .pvm, .pam {
  padding-bottom: 10px !important; }

.pbl, .pvl, .pal {
  padding-bottom: 20px !important; }

.pln, .phn, .pan {
  padding-left: 0px !important; }

.pls, .phs, .pas {
  padding-left: 5px !important; }

.plm, .phm, .pam {
  padding-left: 10px !important; }

.pll, .phl, .pal {
  padding-left: 20px !important; }

.mtn, .mvn, .man {
  margin-top: 0px !important; }

.mts, .mvs, .mas {
  margin-top: 5px !important; }

.mtm, .mvm, .mam {
  margin-top: 10px !important; }

.mtl, .mvl, .mal {
  margin-top: 20px !important; }

.mrn, .mhn, .man {
  margin-right: 0px !important; }

.mrs, .mhs, .mas {
  margin-right: 5px !important; }

.mrm, .mhm, .mam {
  margin-right: 10px !important; }

.mrl, .mhl, .mal {
  margin-right: 20px !important; }

.mbn, .mvn, .man {
  margin-bottom: 0px !important; }

.mbs, .mvs, .mas {
  margin-bottom: 5px !important; }

.mbm, .mvm, .mam {
  margin-bottom: 10px !important; }

.mbl, .mvl, .mal {
  margin-bottom: 20px !important; }

.mln, .mhn, .man {
  margin-left: 0px !important; }

.mls, .mhs, .mas {
  margin-left: 5px !important; }

.mlm, .mhm, .mam {
  margin-left: 10px !important; }

.mll, .mhl, .mal {
  margin-left: 20px !important; }

.tiny-input {
  width: auto;
  height: 11px;
  margin-top: 8px;
  margin-bottom: 8px; }

input[type=file] {
  cursor: pointer;
  width: 145px; }
  input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
    width: 0; }
  input[type=file]::before {
    content: "\f07c";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none; }

.button-like {
  cursor: pointer; }

.disabled {
  cursor: not-allowed !important; }

.no-box-shadow {
  box-shadow: none; }

.no-text-decoration, .no-text-decoration:hover {
  text-decoration: none; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.capitalize, .capitalize-first::first-letter, .form-tip::first-letter {
  text-transform: capitalize; }

.lowercase {
  text-transform: lowercase; }

.uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.inline-block {
  display: inline-block; }

.stretch {
  width: 100%; }

.hidden {
  opacity: 0;
  visibility: hidden; }

.visible {
  opacity: 1;
  visibility: visible; }

.animated {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: color, background-color, opacity, visibility, margin, padding;
  -moz-transition-property: color, background-color, opacity, visibility, margin, padding;
  transition-property: color, background-color, opacity, visibility, margin, padding; }

.collapse-left, .collapse-left.small-radius, .collapse-left.medium-radius, .collapse-left.form-tip, .collapse-left.big-radius, .collapse-left.huge-radius {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 7px; }

.collapse-right, .collapse-right.small-radius, .collapse-right.medium-radius, .collapse-right.form-tip, .collapse-right.big-radius, .collapse-right.huge-radius {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 7px; }

.small-shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }

.medium-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5); }

.big-shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }

.no-radius {
  border-radius: 0; }

.round {
  border-radius: 50%; }

.small-radius {
  border-radius: 3px; }

.medium-radius, .form-tip {
  border-radius: 5px; }

.big-radius {
  border-radius: 10px; }

.huge-radius {
  border-radius: 15px; }

.spaced-letters {
  letter-spacing: 2px; }

.engraved {
  text-shadow: 0 1px 1px #dfdfdf; }

.z1, .up-triangle::before, .form-tip::before {
  z-index: 1; }

.z2 {
  z-index: 2; }

.z3 {
  z-index: 3; }

.z4 {
  z-index: 4; }

.z5 {
  z-index: 5; }

.z-infinite {
  z-index: 10000; }

.up-triangle::before {
  content: "";
  position: relative;
  display: block;
  margin: 0 auto;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 9px;
  border-bottom-color: white;
  border-top-width: 0; }

.focus, input[type=text]:focus,
input[type=file]:focus,
input[type=number]:focus,
input[type=email]:focus,
textarea:focus {
  box-shadow: none;
  font-weight: bold;
  outline: 0; }

input[type]:invalid,
input[required] {
  background-repeat: no-repeat, no-repeat;
  background-size: 13px, 13px;
  background-position: right 7px center, right 7px center; }

input[type]:invalid {
  background-color: white;
  color: orangered;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFUAAABVBAMAAADK27VpAAAAIVBMVEUAAAD////////////////////////////////////////PIev5AAAAC3RSTlMAf3dcEEcFGTUnbCwCuW0AAAJcSURBVEjH1ZbPTxNBHMXHYhfridm6dvVkDxriyZpI4q1iRI8FEn/cNiRq4qmYaIInxUSuK4QQOFECIeGvJLDbfTN9b7oc4V1ohtdPv99588tcV315u3Q147vVrrU2frFV62yt2LHa/6Zbf1hXL6dZd6yv+bD1AK4682vLOtXWO1bpvbJGPel9ODSs71YrFRNrQxqQ93/Qm0zBnmwtmWhjNQxep2RbywHwbDXex8Rsjgd/e95vY2rfncUxueN5y9E4l03EmRhcMJ4WVXdrsonbXSuKWEYPLhZB0yykjOWZmEFVHhZ6MhFEm7BQOlHuPcJCcUVATYxtF39yb0O0NXah+NFn5fBdDhLYbM0rcB3fZGz5q6nX2lBjTeRV2EOnhK1QWbH0sBYYW5WYOwl3QljTQKhl8XMhrJlxWm/iM2HBOnRWzkBiUeOcE0UewprICaMBL2Ev5fR+C1EA63bQJS9hTdDbZ2yYS1jlbcDLWPRGc0ZYzBlnwVhkgYwlFhk/os+M9ddOC7ULLNYkak81dmKtm1FxvEks9pC/NzU26hYof88zFq0nXvEdicV/CzULmsaaP9hCOPs2JTaaOBhxwzO2aTENaA5YvqcTpBjA4iq5j4EwdhFXCRVMlwZdnK+AlY+VB5QNY1uK0MOguuj76hBNMnd026IE8YSZz8QzcECpl+TqoFhBExRlqfjT8MK5O+K5weqHnp4duUlmta9JxtY/5hLDmh1pb26EPkvrsZH6VfdK5UmGkCPEr0J+MbL5r2d9DKvSmxEC/GBqFO0+L55vHwmq9HVjf++nufk6B9aDpkey1HRFAAAAAElFTkSuQmCC"), url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFUAAABVBAMAAADK27VpAAAAIVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABt0UjBAAAAC3RSTlMAf3dcEEcFGTUnbCwCuW0AAAJcSURBVEjH1ZbPTxNBHMXHYhfridm6dvVkDxriyZpI4q1iRI8FEn/cNiRq4qmYaIInxUSuK4QQOFECIeGvJLDbfTN9b7oc4V1ohtdPv99588tcV315u3Q147vVrrU2frFV62yt2LHa/6Zbf1hXL6dZd6yv+bD1AK4682vLOtXWO1bpvbJGPel9ODSs71YrFRNrQxqQ93/Qm0zBnmwtmWhjNQxep2RbywHwbDXex8Rsjgd/e95vY2rfncUxueN5y9E4l03EmRhcMJ4WVXdrsonbXSuKWEYPLhZB0yykjOWZmEFVHhZ6MhFEm7BQOlHuPcJCcUVATYxtF39yb0O0NXah+NFn5fBdDhLYbM0rcB3fZGz5q6nX2lBjTeRV2EOnhK1QWbH0sBYYW5WYOwl3QljTQKhl8XMhrJlxWm/iM2HBOnRWzkBiUeOcE0UewprICaMBL2Ev5fR+C1EA63bQJS9hTdDbZ2yYS1jlbcDLWPRGc0ZYzBlnwVhkgYwlFhk/os+M9ddOC7ULLNYkak81dmKtm1FxvEks9pC/NzU26hYof88zFq0nXvEdicV/CzULmsaaP9hCOPs2JTaaOBhxwzO2aTENaA5YvqcTpBjA4iq5j4EwdhFXCRVMlwZdnK+AlY+VB5QNY1uK0MOguuj76hBNMnd026IE8YSZz8QzcECpl+TqoFhBExRlqfjT8MK5O+K5weqHnp4duUlmta9JxtY/5hLDmh1pb26EPkvrsZH6VfdK5UmGkCPEr0J+MbL5r2d9DKvSmxEC/GBqFO0+L55vHwmq9HVjf++nufk6B9aDpkey1HRFAAAAAElFTkSuQmCC"); }

input[required] {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFUAAABVBAMAAADK27VpAAAAHlBMVEUAAAD///////////////////////////////////8kfJuVAAAACnRSTlMAf3EcEAYrYEw7wouO0QAAAblJREFUSMftlj1PAkEQhle5O6AcQD7KC4mxxMLYHoWhBRuxAxK1daMxlpBgD4Xx70p099495pbhChMSeaoN9yTMzc7Hqf/FU0xEF8k+6h390FEyoaZfVrJbJUNDdk+J9g6ib92W7F5at3Z0d7vB1/sDd/HEZU1Ekzw3XGxOPVYEtR53wzVKI3Ox7YS5Mx66NuUy3HIH5jyBGpGhmXXH9nwG95YsXdetkqXtZiFlCTeK8XOSJpccFmTRBJ6tWyGRunVPZLeN7Iq0irnFY6jIbhM5k0DO1FRSa5iEpVhwP9gQ8/KiXMbyi4FBnoSqzjLzXkOS8dBZDDSmS7Bgnn+8l7Q3W5yp7xI417lFgyQIKfasjXvy0GUqmpbxup0wTX4+4ZlpuIMJy5afVs9d1wIdRBCTxAqVLtJg63qPIEZ/NHdGBeZOucDciWQXC0M7L4wdMMi95T7iSuCitd0FV3GaFq6zc+pwQ/yV66L85gqsUahw07LGykLWlnx3RzHruSBOGwsu2nCe7cyYzhVzTXu/bTfcjWKufXKA31GH5fYLuCO0jUgZbSMSYF3LTE24QyUTaCwgWX7ccKUOk299lZsnnOQ8FwAAAABJRU5ErkJggg=="), url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFUAAABVBAMAAADK27VpAAAAG1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACUUeIgAAAACXRSTlMAfx4OZ3QzRVbtmxagAAABoElEQVRIx+2WT0/CQBDFoavA0cECPZZEjMcSTejR5aBc+w3KpfFI48UjpF/cRFxn19n2tYkmTfSdCP013Z1582fwt3SXEdFz0gZN6UPzNqyms3KMjuhT15i9NOwCs2vDhphdGnb2zzaz6mWX+1n1totddn82gGRVSTSLhQnC2MPu2RpOYqNEsCuZbs12cdhU+jMwz+cuu2F/Sh/S1mZH5PFnSV+qmA00/50YVJGlk/WLdTTsmKCmhh1idsHRhQq7sd3PMOlwN4XZR8uRQLOE/aABW4kmJsQusbWpB2V7fcDxYq3q0IjvhYIRxr6yPwlOtPfmyL1aADhFmPjRG28QvHAKg4tTt5UXy7AZZMCkDi5aUpNyEC2RO2EcbB9NSHkLp4tGefGzfSf6pb4T4fNKBwWYvfLFd8EzIPVmeW0VLbNsfnvAja3EM2vZZMqs4k/ZLNvvKH12+D43leaR5UatkrM7yNyaM+9vfTvBSBbGOKMn/66xkdWp7ut2GJX0cI/qF9tlVx5y2UBN2IdQisc11pInBZTS3HQxfFsURTzop94BA7SPNXqIEjgAAAAASUVORK5CYII="); }

textarea {
  height: 45px;
  width: 145px; }

.textarea-tip {
  height: 54px; }
  .textarea-tip .form-tip {
    position: absolute;
    bottom: -1px; }

.form-tip {
  border-bottom-left-radius: 0; }
  .form-tip::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -7px;
    display: block;
    height: 0;
    width: 0;
    border-bottom: 15px solid #dadada;
    border-left: 15px solid transparent;
    border-right-width: 0; }

.logo {
  background: url("/img/logo-small-bg.png"); }
  .logo:hover {
    background: url("/img/logo-small-bg-selected.png"); }

.powered-by {
  background: url("/img/powered-by.png");
  width: 150px;
  height: 56px;
  display: block; }

#signature {
  width: 156px; }

.socialicons {
  white-space: nowrap; }
  .socialicons a {
    display: inline-block;
    width: 52px; }

@media (max-width: 767px) {
  .textarea-tip {
    height: 28px; }

  .form-tip {
    border-bottom-left-radius: 5px; }
    .form-tip::before {
      content: "";
      position: absolute;
      top: -7px;
      left: 7px;
      display: block;
      height: 0;
      width: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 7.5px;
      border-bottom-color: #dadada;
      border-top-width: 0; } }
@media (min-device-width: 1600px) {
  .site-body {
    min-height: 780px; } }
@media (max-device-width: 1599px) {
  .site-body {
    min-height: 640px; } }
@media (max-device-width: 767px) {
  .site-body {
    min-height: 440px; } }
@media (max-device-width: 479px) {
  .site-body {
    min-height: 240px; } }
