@import bourbon/bourbon
@import _colors
@import _fontawesome-extension
@import _borders
@import _spaces
@import _common

$grey-triangle-down-img: 'iVBORw0KGgoAAAANSUhEUgAAASwAAAARCAMAAABQMGGAAAAAb1BMVEUAAADm5uvn5+vn5+vm5uvl5uzn5+zn5+vn5+vp6e3n5+zo6Ovq6u/o6O3t8/nk6u/o6O3m5uv////l5erm7PLo6Orr6/Hq6u/r6/Ds7PHn5+zt7fLo6O3p6e7l5erf3+Tm5uvj4+js7PDp6e3n5+zaL3Y+AAAAF3RSTlMAzayPYUaDvZ1SbHgp4wofNNoD8BQ78seTRzUAAAF6SURBVFjD5ZfrboMwDIXphVKgtNxacgUC7/+Oc0MajUHRAGVK2cf5YRIsIeRjE4dSiikG0bfo/bFn/1O+k8d+cDp7EcWaBjcgjBFGoOH6ONvNp5F3PgV+nDua68U9hgcveWA0QYMaEJpkG/n4kXjn8Ohers4Ut7sfHPa7iBfvQQUC9eIhn5jPo93+EPj3mzMHVWxg0YT134QXHDQRD7E9H7EErCbLaDUpFFsIxZbxlrcgLlHx6BrjDNTds5aB5Lpl+TyDMgqhjFLHAHoetOyD4bpjm0dbVBYbI99hhIHIGNPPmM9nsozWWW29ReNuHtQEqEkNIqQXa6bXzeTXXceOwWo28ZoHgtSSsi5Bgxgwv0+E7tiWo+dB+eeojm1ZGc2aB4lYQilKkPgNyatjbwI9D4SmHP0+c7CgY5slvamfD7GY5+C3r2ObJX8W20+LVt2lgt6OOqptxGpLuarDaNZ9I0BUmkwd1TZrtaWkeezKeVBVsmO7cW6V1b4AToAfU2iSk8sAAAAASUVORK5CYII='
$cyan-triangle-down-img: 'iVBORw0KGgoAAAANSUhEUgAAASwAAAARCAMAAABQMGGAAAAAbFBMVEUAAADn7PXo7PXo7fXo7fbn7PXn7PXn7ffo7Pbm6/Xm7vjo7fXo7Pfn6/X1/f/l7/fn7Pfi8Pnn6vTo7PXr9fzq8Pjr8vvs8fru8/zo7PXr7/jl6fPp7vfj5/Do7fbp7fbq7vfq7vjq7vjp7vffpzctAAAAF3RSTlMAZYblpte4SMZXL297mwckOhmR8Q/68kZMMmoAAAFqSURBVFjD7ZWJboMwDIZpuSlHOdQcBMLe/yXnBC0WrKtWoYzQ9aul+sBSqWz/HqWUUAJGfwLr6CP/qd/rsvhyDhKfkg2o5tftp34SnC9x1nmGsopPeRGFN/JGcwujIj/FVek9or6metj4AwgnYEt/zTH79Ril19p7ki6bh00Q/uIQoccIV20DZQXD1gRJyyc+gXGF8e/lBBdgcywmAabzjvXzNgkaGCNYNRvUMGxqRSchpZDCAAGwzmGMPsa79X+oVYMxqj3boB6keROFrWQjG8GY/pajlExq3wDB+hkwHSv+ql+0YdTkqbrYe4F6wBB8gYW/T91cbKf40oN+ZPvTm4vtOEYP4DezXgMOBDoGwzz6CD73dD/Di308tB4Ukd9bxo8KdbEdW7XNegBvNvQDGDizb4AAmWuYxz7sd+Fi2wT1YPEn6Q+yqHwruXmxbYJ6MPySo1xsm6Ae+MMd/ANfbIugHoQwRi5e7E9ZPQ7UuAMWSAAAAABJRU5ErkJggg=='

.focus
	box-shadow: none
	font-weight: bold
	outline: 0

input[type=text],
input[type=file],
input[type=number],
input[type=email],
input[type=password],
textarea
	&:focus
		@extend .focus

input[type]:invalid,
input[required]
	background-repeat: no-repeat, no-repeat
	background-size: 13px, 13px
	background-position: right 7px center, right 7px center

input[type]:invalid
	background-color: #ffffff
	color: orangered
	background-image: url("data:image/png;base64,#{$forbidden-light-img}"), url("data:image/png;base64,#{$forbidden-dark-img}")

input[required]
	background-image: url("data:image/png;base64,#{$asterisk-light-img}"), url("data:image/png;base64,#{$asterisk-dark-img}")

.textarea-valign
	height: 45px

.textarea-halign
	width: 145px

.form-cell
	min-height: 29px
	box-sizing: border-box

	label
		&::after
			content: ""
			position: absolute
			right: -8px
			bottom: 0
			+size(0)
			border-color: transparent transparent transparent $lightsilver
			border-style: solid
			border-width: 15px 0 15px 8px

		&.textarea-valign::after
			border-width: 28px 0 28px 8px

		&:active::after
			border-left-color: darken($lightsilver, 10%)

.logo
	background: url('/img/logo-small-bg.png')

	&:hover
		background: url('/img/logo-small-bg-selected.png')

.site-body.soft-border
	box-shadow: 0 20px 20px darken($flour, 2%)

.powered-by
	background: url('/img/powered-by.png')
	width: 150px
	height: 56px
	display: block

#signature
	width: 156px

.socialicons
	white-space: nowrap
	a
		display: inline-block
		width: 52px


@media (min-width: 768px)
	.site-header
		.primary-nav
			li
				&::before,
				&::after
					content: ""
					position: absolute
					left: 0

				&::before
					top: -15px
					+size(100% 50px)

				&.active::before
					background-color: $flour
					box-shadow: inset 0 0 20px $lightsilver

				&:not(.active):hover::before
					background-color: $milk
					box-shadow: inset 0 0 20px lighten($sky, 30%)

				&.active::after,
				&:not(.active):hover::after
					$height: 16px
					bottom: -($height)
					+size(100% ($height+1))
					background-size: 100% $height
					background-repeat: no-repeat

				&.active::after
					background-image: url("data:image/png;base64,#{$grey-triangle-down-img}")

				&:not(.active):hover::after
					background-image: url("data:image/png;base64,#{$cyan-triangle-down-img}")



@media (max-width: 767px)
	.site-header
		.primary-nav
			.active
				background-color: $flour
				box-shadow: inset 0 0 20px $lightsilver

	.form-cell
		label
			&::after
				content: ""
				position: absolute
				left: 0
				bottom: -8px
				margin: 0 auto
				+triangle(16px, $lightsilver, down)
				border-bottom-width: 0

			&.textarea-valign
				height: 19px
				&::after
					border-width: 8px 8px 0 8px

			&:active::after
				border-color: darken($lightsilver, 10%) transparent transparent transparent


@media (max-width: 1050px)
	.side-nav
		padding: 0 !important
		display: block !important
		float: left !important
		width: 100% !important

		.pull-right
			float: left !important

@import _login