@import bourbon/bourbon
@import _colors
@import _fontawesome-extension
@import _borders
@import _spaces
@import _common

$grey-triangle-down-img: 'iVBORw0KGgoAAAANSUhEUgAAASwAAAARCAMAAABQMGGAAAAAaVBMVEUAAADT09TNz9HR0dLS0tPS0tLT09Th5enc4+nT09TR0dHQ0NHPz8/P0NHT09TS0tPT09TS0tPOzs/U1NTT09Ts7PDq6u/n5+zp6e7o6O3m5urk5Oji4ubX19je3uHg4OPV1dba2tzc3N7QqjyrAAAAFXRSTlMA/RFSjnDRBQLjYDdEH6l/wpwr8bWA2zs/AAACQ0lEQVRYw+WVi1KDMBBFoU+offniGQjw/x/pLrvklsGp7QgW9YxtEjHj9PTurlcVRVE3TVlakxNZnKZJEinv0fv/ImrfoiRJ0jjOyIcxtiybpq6Lqqq8xdNyvTpuwqoiaXXdlNYaQ9Iy0pbQtQtrsmuJHNjj3Ps7MNP7ehRJaUqOCGNJEjsqyFJ4Pq7Wy6eF53mBFwTb7Xbxst+dns9qTcPGaSNtsaSN3f0l+NNojDKNkeaIFfnh+fm0278sSE4QBF6fgNgSh/1uvXrbvFZFp80ap43LlOHUDcGjq7+PZPdz9wGnhxbJEMGKTJsiUVS9bt44RgdWRHjXgTYp0XPoX9SoestJGv0w/I+BHrASg2cMdrLX87j3QaKvmHsRY3qV5nelds3R19ZQohw2SRuVaCnaJG8ML60/2qtGXUHM9M/YYv/9+3gYE6pIQkSKGqq0oouRlJoqGomuRLt5IGGDNtNaU2/xQ8n4RUgjIoxLkToKN8deqU3DcB740CbWpLs9hFiWXEIkvQiVho4NRdMznAcnngfO2kXagHzL2XjkBLaCGJKRRo5EUduxdxojb3JH988DaLNOm3He8jHIhoYw0wYd++GObpgHbA2tzRohF3XfgK9/qsh17LkqumEe+H1tRKdN36+D50iRzjQpta5jzzZGd86D5RrzoKhVW2kZcwPWKeIYuVL7fTG6dx5oiaK1NSUz9GYHitCx93Pp2BMCbQfMA7JGQBsLEkdQRDH6E6U21jzotLUp+s0dezqgDfNgnh37A2z7D60w1dmvAAAAAElFTkSuQmCC'
$cyan-triangle-down-img: 'iVBORw0KGgoAAAANSUhEUgAAASwAAAARCAMAAABQMGGAAAAAkFBMVEUAAADG0ui+0uTH1OnF0+fH1enI1eng7vrh8Prb5+7I1enG0+nE0ujG1OnF0+jC0ubH1OnH1OnC0eXF0+jD0efI1unr8Prs8frq7/nq7vjo7Pbm6/Tp7fbs8Pnl6fPo7ffP2+zk6PHK1+rn7PXX4O/T3e7k6vbe5vPh6PTh5vDa4u/b4/Hr7/ne5PDI1enL2OvC/pf1AAAAFnRSTlMAVBGhOczqAQMG25Nih28fr70se0f2FL2/OAAAAqlJREFUWMPllolyokAQhvEK3kk0B3LKITAi8P5vt909FyxVumuhq9mvigoyTISv+u/WiOp6fzgkRVFkeZ6naRAEO8v64niW533/P3jfXxwwEAQpkOdZVhyT5LDf13VlDMeD9eJt8lKBNLSWFFmWobUUrO0swIPd5Mz7iZAlekPvZKGjGBS1HNXVy+RttR6Mh4ZhmMZ0Op3NhpuP5Wr0Pv+sSVuSHKnYUq4NIHX4PxHveTlx4MyCPzsE4iTLqABF5Cj6nL+PVsuPzXA2A0Gm0cY0ydrsdbzcimKrebEVWGwozg6QHYLf0+X8kr7hpE/vu18s4VsEqaoiKKODLqPFdjB+5YpM4yLmlLRhRFejyTyKdEaVNjuwXdfl6gLFrote5meNi907et0fNKDP8Ly2bTtSkU5aVGEZrQeboXR0BaapIrrFiKI1zKiqNj9NHTsG4CHcM5BW9zz97w/4Nng0O5ZVVIIi4SjCqC22EDVQRFHrCRlROQ9UsR2LMuPeHCdW2mKJizQ8crOuusOmaxp98fr9Ys0hciBrJS0SHVtH7TZ050EV8c6mtYW+7xAx2XMEcQux0Dzt0lyPz+xvfoPDP/o5Y9yQati6Y4syuh/deaA6G2kDb2Hoozc6HDx6xveb5z4ePgNHJTpSZdTu2MY9HV2eBxjRRkZBG2OoTeP4vYCGiDBkrARIkSgj2bHHomP/c0d/MA+iCK1pbUBI+OTvekKuCIvoCM1IlRF1bBW1B1R0ptj0PIhqoQ1ergSUNzJ3AX0DA0pAKdpDFfGoYcd+2DL6q2LT86CRUe2NzHXpGmoljTr2s5XRVfOgqmqV0QSsgTcmCJmkZFJRohQ9Wse+JTqich5U9KONV5tIaUvRnhRRx/4BUetrHuiMkiJ09Jwd+6aYv8+Dx+zYvwCBekwxgT4u8AAAAABJRU5ErkJggg=='

$down-black-img: 'iVBORw0KGgoAAAANSUhEUgAAAFUAAABVBAMAAADK27VpAAAAJFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACmWAJHAAAAC3RSTlMDyQwx90iZW4Ad7WEp7a8AAAERSURBVEjH7dUxSgNRFIXhUVGxEy2n0R3Yu4Q0drb2NjYidvapBO1dghZCyNlcksmDP3ByOQvI+7v7uHwMj4E39Hq9ouPH96Hs5O1ud5xL19Xq+UzLB8ZbrWuz9SxpwReMWve/f/VMmz52WWBnGwwL7CzwkdTgigWeS8DOtrb3JgFXrPS0GU8l4JLVz3TXcthZ/eICO8vuhQyGpcvpZDQYll6moy+Hnf1r/5wMdvaqHd4b7OzNUMPO1rCzJexsDTtbws7WsLM17GwNO1vDztbwaGwNO1vDxgYYNsOwEYbNMGyEYTMMG2HYDMNGGDbDsBGGzTBshGEzDJth2AzDZhg2w7AZnsHGPnl/c9+vQ693yK0AS/11+MQutMcAAAAASUVORK5CYII='
$down-dark-img: 'iVBORw0KGgoAAAANSUhEUgAAAFUAAABVBAMAAADK27VpAAAAGFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABWNxwqAAAACHRSTlMBf2F3GAYlSZ/kOMwAAAEBSURBVEjH7dKxSkNBFEXRQUxsPQlo6wPtfZWt6A+IhXUKebXi/4MkGdiBk8v5gMzu7mVYDMO00WhUtFq+W9n18no6/kmPrWg9a7Nj/JS07bP1K+meG0ySdNfOdqN9P7CHdhXbYVhgZ4GvJAE7C8wI7Ky2x3ebBXyW5RJrCbhiped+FrhkdctZYGdxVzIYlh4Om6mAYVHefeXspv+52WBnn/rSYWc/Wg07W8POlrCzNexsCTtbw87WsLM17GwNO1vDk7E17GwNGxtg2AzDRhg2w7ARhs0wbIRhMwwbYdgMw0YYNsOwGYbNMGyGYTMMm2HYDMNmGDb2Jr0whb6WNhpdcv8QfVf0/Sb4OgAAAABJRU5ErkJggg=='
$down-white-img: 'iVBORw0KGgoAAAANSUhEUgAAAFUAAABVBAMAAADK27VpAAAAJFBMVEX////////////////////////////////////////////////Vd7HLAAAAC3RSTlMDyQwx90iZW4Ad7WEp7a8AAAERSURBVEjH7dUxSgNRFIXhUVGxEy2n0R3Yu4Q0drb2NjYidvapBO1dghZCyNlcksmDP3ByOQvI+7v7uHwMj4E39Hq9ouPH96Hs5O1ud5xL19Xq+UzLB8ZbrWuz9SxpwReMWve/f/VMmz52WWBnGwwL7CzwkdTgigWeS8DOtrb3JgFXrPS0GU8l4JLVz3TXcthZ/eICO8vuhQyGpcvpZDQYll6moy+Hnf1r/5wMdvaqHd4b7OzNUMPO1rCzJexsDTtbws7WsLM17GwNO1vDztbwaGwNO1vDxgYYNsOwEYbNMGyEYTMMG2HYDMNGGDbDsBGGzTBshGEzDJth2AzDZhg2w7AZnsHGPnl/c9+vQ693yK0AS/11+MQutMcAAAAASUVORK5CYII='
$down-light-img: 'iVBORw0KGgoAAAANSUhEUgAAAFUAAABVBAMAAADK27VpAAAAGFBMVEX///////////////////////////////8pK8DIAAAACHRSTlMBf2F3GAYlSZ/kOMwAAAEASURBVEjH7dKxSgNBFIXhi5jYeiJo64L2bmUr+gJiYZ1CtlZ8fxCThb84uZwHyPzdHYaPyzA1Go2aNstXtV0uL1X0Kz1U03bWbs/4Ielmna0fSXdsMEnSbZ3sSv99wx7ad+wKwwI7C3whCdhZYEZgZ6Xju80CPsmyxFYCblk9rXeBW1bX3AV2Fncjg2Hp/nAyNTAsypsfObtb/9xssLOPVQ3s7Hv1sLM97GwLO9vDzrawsz3sbA8728PO9rCzPTwZ28PO9rCxAYbNMGyEYTMMG2HYDMNGGDbDsBGGzTBshGEzDJth2AzDZhg2w7AZhs0wbIZhY6/SM1Poc6nR6Jz7A/weV/KT+zmCAAAAAElFTkSuQmCC'

$one-char-size: 20px

.template-header,
.page-header
	border-bottom-color: lighten($dust, 20%)

.focus
	box-shadow: none
	font-weight: bold
	outline: 0

.select-style
	$width: 145px
	$height: 19px
	$select-arrow-width: 28px

	display: inline-block
	background-image: url("data:image/png;base64,#{$down-dark-img}")
	+size($width $height)
	overflow: hidden

	select
		cursor: pointer
		background: transparent
		padding: 0 4px
		+size(($width + $select-arrow-width) $height)
		line-height: 1
		+appearance(none)

	&.narrow-input
		select
			width: ($narrow-input-size + $select-arrow-width)

	&.one-char
		select
			width: ($one-char-size + $select-arrow-width)


.one-char
	width: $one-char-size
	background-image: none


input[type=text],
input[type=file],
input[type=number],
input[type=email],
input[type=password],
textarea,
.select-style select
	border-width: 0

	&:focus
		@extend .focus

	$placeholder-color: darken($silver, 7%)
	&::-webkit-input-placeholder
		color: $placeholder-color
	&:-moz-placeholder
		color: $placeholder-color
	&::-moz-placeholder
		color: $placeholder-color
	&:-ms-input-placeholder
		color: $placeholder-color

input[type]:invalid,
input[required],
.select-style
	background-repeat: no-repeat, no-repeat
	background-size: 13px, 13px
	background-position: right 7px center, right 7px center

input[type]:invalid
	background-color: #ffffff
	color: orangered
	background-image: url("data:image/png;base64,#{$forbidden-light-img}"), url("data:image/png;base64,#{$forbidden-dark-img}")

input[required]
	background-image: url("data:image/png;base64,#{$asterisk-light-img}"), url("data:image/png;base64,#{$asterisk-dark-img}")

.textarea-valign
	height: 45px

.textarea-halign
	width: 145px

.form-cell
	$height: 29px
	min-height: $height
	box-sizing: border-box

	.cell-align
		line-height: ($height - 1)

	label[for]
		&::after
			content: ""
			position: absolute
			right: -8px
			bottom: 0
			+size(0)
			border-color: transparent transparent transparent $lightsilver
			border-style: solid
			border-width: 15px 0 15px 8px

		&.textarea-valign::after
			border-width: 28px 0 28px 8px

		&:active::after
			border-left-color: darken($lightsilver, 10%)

	div,span
		vertical-align: middle

.logo
	background: url('/img/logo-small-bg.png')

	&:hover
		background: url('/img/logo-small-bg-selected.png')

.site-body.soft-border
	box-shadow: 0 20px 20px darken($flour, 2%)

.powered-by
	background: url('/img/powered-by.png')
	width: 150px
	height: 56px
	display: block

#signature
	width: 156px

.socialicons
	white-space: nowrap
	a
		display: inline-block
		width: 52px

.price-unit
	width: 110px !important


@media (min-width: 768px)
	.site-header
		.primary-nav
			li
				&::before,
				&::after
					content: ""
					position: absolute
					left: 0

				&::before
					top: -15px
					+size(100% 50px)

				&.active::before
					background-color: $flour
					box-shadow: inset 0 0 20px $lightsilver

				&:not(.active):hover::before
					background-color: $milk
					box-shadow: inset 0 0 20px lighten($sky, 30%)

				&.active::after,
				&:not(.active):hover::after
					$height: 16px
					bottom: -($height)
					+size(100% ($height+1))
					background-size: 100% $height
					background-repeat: no-repeat

				&.active::after
					background-image: url("data:image/png;base64,#{$grey-triangle-down-img}")

				&:not(.active):hover::after
					background-image: url("data:image/png;base64,#{$cyan-triangle-down-img}")



@media (max-width: 767px)
	.site-header
		.primary-nav
			.active
				background-color: $flour
				box-shadow: inset 0 0 20px $lightsilver

	.form-cell
		label[for]
			&::after
				content: ""
				position: absolute
				left: 0
				bottom: -8px
				margin: 0 auto
				+triangle(16px, $lightsilver, down)
				border-bottom-width: 0

			&.textarea-valign
				height: 19px
				&::after
					border-width: 8px 8px 0 8px

			&:active::after
				border-color: darken($lightsilver, 10%) transparent transparent transparent


@media (max-width: 1050px)
	.side-nav
		padding: 0 !important
		display: block !important
		float: left !important
		width: 100% !important

		.pull-right
			float: left !important

@import _login