<template name="clientRow">
	<tr class="clickable {{activeRowClass this}}">
		<td class="valign-middle">
			<div class="checkbox-style">
				<input type="checkbox" name="client" id="{{_id}}">
			</div>
		</td>
		<td class="fatty medium-text capitalize valign-middle">
			{{#if name}}{{name}}{{/if}}
			{{#unless name}} <span class="color-lightlead">—</span> {{/unless}}
		</td>
		<td class="valign-middle">
			{{#if email}}{{email}}{{/if}}
			{{#unless email}} <span class="color-lightlead">—</span> {{/unless}}
		</td>
		<td class="capitalize text-justify valign-middle">
			{{#if address}}{{address}}{{/if}}
			{{#unless address}} <span class="color-lightlead">—</span> {{/unless}}
		</td>
	</tr>
</template>