<template name="clientEdit">
	<div class="template-header brbs col width-1of2 capitalize">
		<div class="col width-fit mobile-width-fit">
			<h2 class="color-lead">
				{{#with client}}
				<i class="fa fa-pencil"></i>
				{{#if name}}{{name}}{{/if}}
				{{#unless name}} — {{/unless}}
				{{/with}}
				{{#unless client}}<i class="fa fa-plus"></i> {{i18n 'newRecord'}}{{/unless}}
			</h2>
		</div>
		{{#if clients.count}}
		<div class="col width-fill mobile-width-fill text-right list-nav color-sky">
			<a href="{{pathFor 'clients'}}" class="no-text-decoration fatty animated"><i class="fa fa-times"></i> {{i18n 'close'}}</a>
		</div>
		{{/if}}
	</div>
	<form class="mts" id="edit-form">
		<div class="col">
			<div class="col width-1of5">
				<div class="cell form-label mln">
					<label for="name">{{i18n 'name'}}</label>
				</div>
			</div>
			<div class="col width-3of10">
				<div class="cell form-cell brbs">
					<input type="text" id="name" value="{{client.name}}" data-initial-value="{{client.name}}" placeholder="{{i18n 'name'}}" class="text capitalize stretch spaced-letters pls" required>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="col width-1of5">
				<div class="cell form-label mln">
					<label for="email">{{i18n 'email'}}</label>
				</div>
			</div>
			<div class="col width-3of10">
				<div class="cell form-cell brbs">
					<input type="email" id="email" value="{{client.email}}" data-initial-value="{{client.email}}" placeholder="{{i18n 'email'}}" class="text stretch spaced-letters pls">
				</div>
			</div>
		</div>
		<div class="col">
			<div class="col width-1of5">
				<div class="cell form-label mln">
					<label class="textarea-valign" for="address">{{i18n 'address'}}</label>
				</div>
			</div>
			<div class="col width-3of10">
				<div class="cell form-cell brbs">
					<textarea id="address" class="capitalize textarea-valign stretch spaced-letters pls" placeholder="{{i18n 'address'}}" rows="3" data-initial-value="{{client.address}}">{{client.address}}</textarea>
				</div>
			</div>
		</div>
	</form>
	{{#if clients.count}}
	<div class="clear-both"></div><div class="separator mtl"></div>
	{{/if}}
</template>