<template name="invoiceReferences">
	<div class="col mbl">
		<h3 class="capitalize color-lightlead brbs border-silver mbs"><i class="fa fa-tag"></i> {{i18n 'references'}}</h3>
		<div class="col width-2of5 tablet-width-1of2">&nbsp;</div>
		<div class="col width-2of5 tablet-width-1of2 pull-right">
			<div class="col">
				<div class="col width-1of2">
					<div class="cell form-label mln mtn">
						<label for="reference">{{i18n 'reference'}}</label>
					</div>
				</div>
				<div class="col width-1of2">
					<div id="reference" class="cell form-cell mtn mrn uppercase fatty medium-text text-right brbs border-flour">fa1830893-003</div>
				</div>
			</div>
			<div class="col">
				<div class="col width-1of2">
					<div class="cell form-label mln mtn">
						<label for="invoiceDate">{{i18n 'invoiceDate'}}</label>
					</div>
				</div>
				<div class="col width-1of2">
					<div id="invoiceDate" class="cell form-cell mtn mrn medium-text text-right brbs border-flour">02/12/2013</div>
				</div>
			</div>
			<div class="col">
				<div class="col width-1of2">
					<div class="cell form-label mln mtn">
						<label for="headerTerm">{{i18n 'term'}}</label>
					</div>
				</div>
				<div class="col width-1of2">
					<div id="headerTerm" class="cell form-cell mtn mrn medium-text text-right brbs border-flour">02/12/2013</div>
				</div>
			</div>
			<div class="col">
				<div class="col width-1of2">
					<div class="cell form-label mln mtn">
						<label for="order">{{i18n 'order'}}</label>
					</div>
				</div>
				<div class="col width-1of2">
					<div id="order" class="cell form-cell mtn mrn uppercase text-right brbs border-flour small-text lhx">co1830893-003</div>
				</div>
			</div>
			<div class="col">
				<div class="col width-1of2">
					<div class="cell form-label mln mtn">
						<label for="orderDate">{{i18n 'orderDate'}}</label>
					</div>
				</div>
				<div class="col width-1of2">
					<div id="orderDate" class="cell form-cell mtn mrn text-right brbs border-flour small-text lhx">09/09/2013</div>
				</div>
			</div>
		</div>
	</div>
</template>