<template name="invoiceSettings">
	<fieldset class="mtm click-reveal-container folder animated">
		<legend class="click-reveal folder-tab">
			<h3>
				<span class="color-sky"><i class="fa fa-wrench reveal-visible"></i><i class="fa fa-chevron-up reveal-hidden"></i> {{i18n 'parameters'}}</span>
				<ul class="nav pipes pull-right reveal-visible animated">
					<li>{{invoicePrice}} € / {{i18n 'day'}}</li>
					<li>{{i18n 'taxerate'}}</li>
				</ul>
			</h3>
		</legend>
		<div class="col stretch reveal-hidden animated" data-delay-shrink>
			<div class="col">
				<div class="col width-2of10">
					<div class="cell form-label mln mtn">
						<label for="dailyprice">{{i18n 'dailyprice'}}</label>
					</div>
				</div>
				<div class="col width-1of8 mobile-width-1of6">
					<div class="cell form-cell brbs mtn">
						<input type="text" id="dailyprice" placeholder="{{settings.dailyprice}}" class="text stretch spaced-letters pls" value="{{dailyprice}}" data-initial-value="{{dailyprice}}" pattern="\d+">
					</div>
				</div>
				<div class="col width-fit mobile-width-fill">
					<div class="col width-fit mobile-width-fit">
						<div class="cell form-cell brbs mtn">
							<div class="select-style one-char">
								<select id="currency">
									<option value="€">€</option>
									<option value="$">$</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col width-fit mobile-width-fit">
						<div class="cell form-cell mhn mtn">
							<span class="medium-text">/ {{i18n 'day'}}</span>
						</div>
					</div>
				</div>
				<div class="col width-2of5 pull-right">
					<div class="col width-1of2">
						<div class="cell form-label mln mtn">
							<label for="documentType">{{i18n 'documentType'}}</label>
						</div>
					</div>
					<div class="col width-1of2">
						<div class="cell form-cell brbs mrn mtn">
							<div class="select-style stretch">
								<select id="documentType" class="capitalize pls spaced-letters">
									<option value="i">{{i18n 'invoice'}}</option>
									<option value="o">{{i18n 'order'}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="col width-2of10">
					<div class="cell form-label mln mtn">
						<label for="taxerate">{{i18n 'taxerate'}}</label>
					</div>
				</div>
				<div class="col width-1of8 mobile-width-1of6">
					<div class="cell form-cell mtn">
						<div class="checkbox-style checked mls mts">
							<input type="checkbox" id="taxerate" checked="yes">
						</div>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
</template>