<template name="invoiceRow">
	<tr class="clickable {{activeRowClass this}}">
		<td class="valign-middle">
			<div class="checkbox-style">
				<input type="checkbox" name="invoice" id="{{_id}}">
			</div>
		</td>
		<td class="fatty medium-text uppercase valign-middle">
			{{shorten 'invoice'}}{{_id}}
		</td>
		<td class="valign-middle text-justify">
			{{#if clientName}}{{clientName}}{{/if}}
			{{#unless clientName}} <span class="color-lightlead">—</span> {{/unless}}
		</td>
		<td class="capitalize text-justify valign-middle">
			{{#if invoiceDate}}{{invoiceDate}}{{/if}}
			{{#unless invoiceDate}} <span class="color-lightlead">—</span> {{/unless}}
		</td>
	</tr>
</template>