<template name="invoiceEdit">
	<div class="template-header brbs">
		<div class="col width-fit mobile-width-fit">
			<h2 class="color-lead">
				{{#if invoice}}
				<i class="fa fa-pencil"></i> <span class="uppercase">{{shorten 'invoice'}}-{{uuidToNumber invoice._id}}</span>
				{{/if}}
				{{#unless invoice}}
				<i class="fa fa-plus"></i> <span class="capitalize">{{i18n 'newRecord'}}</span>
				{{/unless}}
			</h2>
		</div>
		{{#if invoicesAreAvailable}}
		<div class="col width-fill mobile-width-fill text-right list-nav color-sky">
			<a href="{{pathFor 'invoices'}}" class="no-text-decoration fatty animated"><i class="fa fa-times"></i> {{i18n 'close'}}</a>
		</div>
		{{/if}}
	</div>
	<form class="mts" id="edit-form">
		{{>invoiceSettings invoice}}
		{{>invoiceReferences invoice}}
		{{>invoiceHeader invoice}}
		{{#if invoice}}{{>invoiceNewItem invoice}}{{/if}}
		{{>invoiceItems itemsData}}
		{{>invoiceFooter invoice}}
	</form>
	{{#if invoicesAreAvailable}}
	<div class="clear-both"></div><div class="separator mtl"></div>
	{{/if}}
</template>