<template name="invoiceHeader">
	<fieldset class="click-reveal-container folder animated">
		<legend class="click-reveal folder-tab">
			<h3>
				<span class="color-sky"><i class="fa fa-info-circle reveal-visible"></i><i class="fa fa-chevron-up reveal-hidden"></i> {{i18n 'header'}}</span>
				<ul class="nav pipes pull-right reveal-visible animated">
					<li>{{settings.company}}</li>
					<li>{{invoiceClient.name}}</li>
				</ul>
			</h3>
		</legend>
		<div class="col stretch reveal-hidden animated" data-delay-shrink>
			<div class="col width-2of5 tablet-width-1of2">
				<div class="col">
					<div class="cell form-label down-label mln mtn">
						<div class="label-like">{{i18n 'sender'}}</div>
					</div>
				</div>
				<div class="col">
					<div id="company" class="spaced-letters">
						<p class="capitalize fatty mvs medium-text">{{settings.company}}</p>
						{{#if settings.address}}<p class="capitalize text-multiline mtm lhs">{{settings.address}}</p>{{/if}}
						{{#if settings.email}}<p><i class="fa fa-envelope-o color-lightlead"></i> {{settings.email}}</p>{{/if}}
					</div>
				</div>
			</div>
			<div class="col width-2of5 tablet-width-1of2 pull-right">
				<div class="col">
					<div class="cell form-label down-label mhn mtn">
						<label for="client">{{i18n 'client'}}</label>
					</div>
				</div>
				<div class="col">
					<div class="form-cell capitalize brbs mbs">
						<div class="select-style stretch">
							<select id="client" class="capitalize spaced-letters medium-text fatty">
								<option value="">{{i18n 'choose'}}</option>
								{{#each clients}}
								<option selected="{{selectedClient _id ../client}}" value="{{_id}}">{{name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
					{{#if invoiceClient.address}}<p class="capitalize text-multiline mtm spaced-letters lhs">{{invoiceClient.address}}</p>{{/if}}
					{{#if invoiceClient.email}}<p class="spaced-letters"><i class="fa fa-envelope-o color-lightlead"></i> {{invoiceClient.email}}</p>{{/if}}
				</div>
			</div>
		</div>
	</fieldset>
</template>