<template name="invoiceReferences">
	<div class="col mbl">
		<h3 class="capitalize color-lightlead brbs border-silver mbs"><i class="fa fa-tag"></i> {{i18n 'references'}}</h3>
		<div class="col width-2of5 tablet-width-1of2">&nbsp;</div>
		<div class="col width-2of5 tablet-width-1of2 pull-right">
			<div class="col">
				<div class="col width-1of2">
					<div class="cell form-label mln mtn">
						<label for="reference">{{i18n 'reference'}}</label>
					</div>
				</div>
				<div class="col width-1of2">
					<div class="cell form-cell pls mtn mrn uppercase fatty medium-text text-right brbs border-flour">fa1830893-003</div>
				</div>
			</div>
			<div class="col">
				<div class="col width-1of2">
					<div class="cell form-label mln mtn">
						<label for="reference">{{i18n 'invoiceDate'}}</label>
					</div>
				</div>
				<div class="col width-1of2">
					<div class="cell form-cell pls mtn mrn medium-text text-right brbs border-flour">02/12/2013</div>
				</div>
			</div>
			<div class="col">
				<div class="col width-1of2">
					<div class="cell form-label mln mtn">
						<label for="reference">{{i18n 'term'}}</label>
					</div>
				</div>
				<div class="col width-1of2">
					<div class="cell form-cell pls mtn mrn medium-text text-right brbs border-flour">02/12/2013</div>
				</div>
			</div>
			<div class="col">
				<div class="col width-1of2">
					<div class="cell form-label mln mtn">
						<label for="reference">{{i18n 'order'}}</label>
					</div>
				</div>
				<div class="col width-1of2">
					<div class="cell form-cell pls mtn mrn uppercase text-right brbs border-flour lhl">co1830893-003</div>
				</div>
			</div>
		</div>
	</div>
</template>