<template name="invoiceItemRow">
	<tr>
		<td class="valign-middle pas border-lightsilver">
			<input type="text" name="item" placeholder="{{i18n 'description'}}" value="{{item}}" data-initial-value="{{item}}" class="text capitalize stretch tablet-spaced-letters desktop-spaced-letters" required>
		</td>
		<td class="valign-middle pas border-lightsilver">
			<input type="text" name="item-price" placeholder="000" value="{{itemPrice}}" data-initial-value="{{itemPrice}}" class="text stretch tablet-spaced-letters desktop-spaced-letters" required pattern="\d+">
		</td>
		<td class="valign-middle pas border-lightsilver">
			<input type="text" name="amount" placeholder="000" value="{{amount}}" data-initial-value="{{amount}}" class="text stretch tablet-spaced-letters desktop-spaced-letters" required pattern="\d+">
		</td>
		<td class="valign-middle pas border-lightsilver">
			<div class="select-style stretch">
				<select name="unit" class="capitalize tablet-spaced-letters desktop-spaced-letters">
					<option selected="{{selectedUnit 't'}}" value="t">{{i18n 'time'}}</option>
					<option selected="{{selectedUnit 'w'}}" value="w">{{i18n 'without'}}</option>
				</select>
			</div>
		</td>
		<td class="valign-middle pas border-lightsilver">
			000
			<i class="delete-item-row fa fa-trash-o color-red pull-right clickable animated hidden"></i>
		</td>
	</tr>
</template>