<template name="invoiceItemRow">
	<tr id="item-row-{{item._id}}">
		<td class="valign-middle pas border-lightsilver">
			<i id="move-item-{{item._id}}" data-item-id="{{item._id}}" class="move-item-row fa fa-reorder color-sky animated hidden" title="{{i18n 'moveToAnotherGroup'}}"></i>
			<input type="text" name="item" placeholder="{{i18n 'description'}}" value="{{item.item}}" data-initial-value="{{item.item}}" class="text capitalize stretch tablet-spaced-letters desktop-spaced-letters pll" required>
		</td>
		<td class="valign-middle pas border-lightsilver">
			<input type="text" name="itemPrice" placeholder="{{documentPrice}}" value="{{item.itemPrice}}" data-initial-value="{{item.itemPrice}}" class="text stretch tablet-spaced-letters desktop-spaced-letters text-right" pattern="^\d+$">
		</td>
		<td class="valign-middle pas border-lightsilver">
			<input type="text" name="amount" placeholder="000" value="{{item.amount}}" data-initial-value="{{item.amount}}" class="text stretch tablet-spaced-letters desktop-spaced-letters text-right" required pattern="^\d+(,|\.)?\d*$">
		</td>
		<td class="valign-middle pas border-lightsilver">
			<div class="select-style stretch">
				<select name="unit" class="capitalize tablet-spaced-letters desktop-spaced-letters {{unitColor}}">
					<option selected="{{selectedUnit 'd'}}" value="d">{{i18n 'days'}}</option>
					<option selected="{{selectedUnit 'h'}}" value="h">{{i18n 'hours'}}</option>
					<option selected="{{selectedUnit 'w'}}" value="w">{{i18n 'without'}}</option>
				</select>
			</div>
		</td>
		<td class="valign-middle pas border-lightsilver">
			<i id="delete-item-{{item._id}}" data-item-id="{{item._id}}" class="delete-item-row fa fa-trash-o color-red pull-right clickable animated hidden"></i>
			<span class="pull-right">{{sum}} <i class="fa fa-{{currencyIcon}}"></i></span>
		</td>
	</tr>
</template>